.footer ul {
    list-style: none;
    color: rgba(255, 255, 255, .4);
}

.footer-box {
	width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-box h5 {
	font-size: 30px !important;
}

.footer-social-icons img {
    margin: 10px;
}

.footer-social-icons {
	width: 270px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.footer-box-text h5 {
	font-size: 20px !important;
}

.footer-font {
    color: rgba(255, 255, 255, .4);
    margin: 0 auto;
    font-size: 14px;
    max-width: 40%;
    height: 100px;
    text-align: center;
}

.social-icons-0 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 280px;
	height: 120px;
}

.social-icons-0 img {
	margin: 20px;
}

/*客户信息*/
#connection {
	padding: 50px 0;
	margin: 0 auto;
	max-width: 60%;
	min-height: 300px;
	display: flex;
/*	padding-left: 7%;*/
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
}

#connection img {
	 width: 8rem;
}

#connection div {
	margin: 10px 0;
}

.tittle-show {
	max-width: 50%;
	margin: 0 auto;
	text-align: center;
	margin-top: 80px;
}

/*数据*/
#information {
	display: flex;
	justify-content: space-around;
	align-items: baseline;
	color: #FFF;
	flex-wrap: wrap;
}

#information section {
	margin-top: 20px;
	text-align: center;
	width: 400px;
}

#information p {
	font-family: "calisto mt";
	font-size: 14px;
}

#information h1 {
	font-size: 10em;
}

/*数据盒子*/
.win-show {
	min-height: 500px;
	max-width: 100%;
	margin-top: 30px;
	background-image: url(../images/timg.jpg);
	padding-top: 6%;
}

/*幻灯片下文字*/
#welcome {
	max-width: 100%;
	text-align: center;
	margin-top: 30px;
}

#welcome h3 {
	font-size: 60px;
	font-weight: normal;
}

/*logo排列*/
.flex-show {
	display: flex;
	flex-wrap: wrap;	
	padding-bottom: 40px;
}

.container {
	min-height: 335px;
}
