/*页脚代码*/
.footer ul {
    list-style: none;
    color: rgba(255, 255, 255, .4);
}

.footer-box {
	width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-box h5 {
	font-size: 30px !important;
}

.footer-social-icons img {
    margin: 0 10px 10px 0;
}

.footer-social-icons {
	width: 270px;
	/* display: flex;
	justify-content: space-around;
	flex-wrap: wrap; */
}

.footer-font {
    color: rgba(255, 255, 255, .4);
    margin: 0 auto;
    font-size: 14px;
    max-width: 40%;
    height: auto;
    text-align: center;
}

.social-icons-0 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 230px;
	height: 120px;
}

.footer-text-list ul a {
	list-style: none;
	color: rgba(255, 255, 255, .4)
}
