/*客户信息*/
#connection {
	padding: 50px 0;
	margin: 0 auto;
	max-width: 60%;
	min-height: 300px;
	display: flex;
/*	padding-left: 7%;*/
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
}

#connection img {
	 width: 8rem;
}

#connection div {
	margin: 10px 0;
}

.tittle-show {
	max-width: 50%;
	margin: 0 auto;
	text-align: center;
	margin-top: 80px;
}

/*数据*/
#information {
	display: flex;
	justify-content: space-around;
	align-items: baseline;
	color: #FFF;
	flex-wrap: wrap;
}

#information section {
	margin-top: 20px;
	text-align: center;
	width: 400px;
}

#information p {
	font-family: "calisto mt";
	font-size: 14px;
}

#information h1 {
	font-size: 10em;
}

/*数据盒子*/
.win-show {
	min-height: 500px;
	max-width: 100%;
	margin-top: 30px;
	background-image: url(../images/timg.jpg);
	padding-top: 6%;
}

/*幻灯片下文字*/
#welcome {
	max-width: 100%;
	text-align: center;
	margin-top: 30px;
}

#welcome h3 {
	font-size: 4rem;
	font-weight: normal;
}

/*logo排列*/
.flex-show {
    display: flex;
    flex-wrap: wrap;	
	padding-bottom: 40px;
}

#con {
	min-height: 335px;
}

.shadow{
	box-shadow: 0px 2px 1px rgba(0, 0, 0, .1);
	line-height: 30px;
}

/*.flex-show div :first-child {
	border: 1px rgba(0, 0, 0, .3) solid;
}*/

.flex-show img {
	width: 160px;
	height: 160px;
	border: none;
}

/*底部文字*/
.text-art {
	text-align: center;
	width: 100%;
	margin-bottom: 30px;
}

.text-art h4{
	font-size: 2rem;
}

/*input样式框*/
.coment-form input[type="tel"] {
    display: block;
    background: none;
    color: #999;
    border: 1px solid #BDBBBB;
    width: 70%;
    margin-bottom: 5px;
    outline: none;
    font-size: 13px;
    font-weight: 300;
    padding: 13px 15px;
}